.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 2rem;
  text-align: center;
  min-height: 300px;
}

.icon {
  font-size: 4rem;
  margin-bottom: 1rem;
  opacity: 0.5;
}

.message {
  font-size: 1.25rem;
  color: #666;
  font-weight: 500;
}

